* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-container {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.logo {
  width: 50vh;
}

thead {
  width: 100%;
}
.table {
  max-width: 100%;
  border: 2px solid black;
}
.table th {
  padding-right: 0px;
  text-align: center;
  background: rgb(174, 238, 234);
  background: radial-gradient(
    circle,
    rgba(174, 238, 234, 1) 0%,
    rgba(156, 148, 233, 1) 87%
  );
}
tbody > tr > td {
  border: 1px solid rgb(65, 63, 63);
}

nav a {
  font-size: 1.1rem;
  font-weight: bold;
}

.active {
  transition: 0.2s;
  padding: 5px;
  padding-right: 10px !important;
  border-radius: 0 0.8em;
}
.inactive:hover {
  background-color: rgb(128, 219, 213);
  box-shadow: 0 0 10px rgb(174, 238, 234), 0 0 10px rgb(174, 238, 234),
    0 0 20px rgb(174, 238, 234);
  transition-delay: 0.1s;
}
.banner {
  width: 100%;
  height: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.banner > h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.9rem;
}

.banner > h2:hover {
  color: rgba(217, 3, 104, 255);
}
.page {
  border: 2px solid black;
}

.main-container {
  height: auto;
  flex-direction: column;
}
.category-container {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
}

.category-container > form {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.noborder {
  border: none;
  background-color: #91a5ff00;
  padding-left: 5px;
}
.search-btn {
  width: 25px;
  height: 25px;
}
.card {
  max-width: 18em;
  border: 3px solid rgb(174, 238, 234);
  border-radius: 0 2em;
  box-shadow: 0 0 1.5em;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 25px;
}
.img-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0 2em 0 0;
}

.footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 10vh;
  padding: 15px;
  width: 100%;
}
.social-icons {
  width: 50px;
  height: 50px;
  padding: 5px;
}
.social-icons:hover {
  filter: contrast(200%);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgb(17, 17, 17);
  background-color: #fffaf0;
}
::-webkit-scrollbar-thumb {
  background: #ffe4e1;
  border: 4px solid #4b4094;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(109, 67, 80, 0.493);
}
.card-text {
  height: 100px;
  font-size: small;
}
.main-container2 {
  height: auto;
  width: 80%;
}

.cards-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.card-title2 {
  padding: 0px;
}
.card-text2 {
  padding: 20px;
}
.card-body2 {
  height: 100%;
}
.card-img2 {
  width: 50%;
  object-fit: cover;
  height: 100%;
  border-radius: 0 0 0 1.8em;
}
.button-cardsx {
  display: flex;
  align-items: flex-end;
}

.btn-danger {
  background-color: #b13b769f;
}

.only_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.767);
  border: 2px solid black;
  max-width: 55em;
}

/* MEDIA QUERY */

@media screen and (max-width: 990px) {
  .header-container {
    flex-direction: row-reverse;
  }
  .card-img2{
    width: 100%;
    border-radius: 0 1.8em 0 0;
  
  }
  .only_card {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer {
    height: auto;
  }
}

.form-container {
  height: 65vh;
  padding: 20px;
}
.form-container input {
  width: 300px;
}
.about-text {
  height: 50px !important;
}
.shwdata-general {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 440px) {
  .banner > h2 {
    font-size: 2rem;
  }

  .form-control {
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
    height: auto;
  }
  .social-icons {
    width: 50px;
    padding: 10px;
    height: 50px;
  }
}


